<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30985.346267325756!2d102.37348078959843!3d2.279639971727006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31d1e62fe16a2acf%3A0xba356b29ab65472a!2sBemban%2C%20Malacca!5e0!3m2!1sen!2smy!4v1649999649046!5m2!1sen!2smy"
     width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>